.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

/* Button */
.button {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}

.button {
  font-family: "Asap", sans-serif;
  font-weight: 700;
  cursor: pointer;
  --border-right: 4px;
  --text-stroke-color: white;
  --animation-color: #f73b6e;
  --fs-size: 1.5em;
  letter-spacing: 1px;
  font-size: 22px;
  position: relative;
  color: var(--text-stroke-color);
}
.hover_text {
  position: absolute;
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover_text {
  width: 100%;
  filter: drop-shadow(0 0 20px var(--animation-color));
}

/* Button end */
