* {
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: auto;
    background-color: #1e1e1e;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.gridmain {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 1rem;
}

.gridmain .filter {
    background-color: #151515;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}