* {
    margin: 0;
    padding: 0;
}

.main {
    width: 90%;
    margin: auto;
    background-color: #1e1e1e;
    display: grid;
    gap: 1rem;
}

.iteration {
    height: 5rem;
    line-height: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: auto;
}