* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: aqua;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    display: grid;
    width: 100%;
}

.iteration {
    height: 5rem;
    line-height: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin: auto;
}