body {
    padding: 1rem;
}

.container {
    height: 92vh;
    background-color:rgba(0, 7, 29, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    gap: 1rem;
    padding: 0.8rem;
    margin: 0 auto;
    border-radius: 1rem;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 10%;
}

.logo {
    font-family: 'Asap', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 1px;
    cursor: default;
}

.modification {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 10%;
}

.modification .filter_order {
    display: flex;
    gap: 5rem;
}

.paginated {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    max-width: 100%;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.footer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

