* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1641;
}

.container {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 100%;
    background-color: violet;
    height: 100vh;
    place-content: center;
}

.left {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 30% 20%;
    place-content: center;
}

.text {
    width: 100%;
    margin: auto;
}

.button {
    width: 100%;
    margin: auto;
}

.right {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 50%;
    place-content: center;
}

.slider {
    width: 100%;
    margin: auto;
}
