.pagination {
    display: flex;
    margin: 1rem;
    justify-content: center;
}
.pagination ul {
    display: flex;
}

.pagination ul li {
    list-style: none;
    cursor: pointer;
    margin: 0 1rem 0 1rem;
}

.pagination ul li.page {
    width: 2rem;
    height: 2rem;
    font-weight: 500;
    line-height: 2rem;
    border-radius: 50%;
}

.pagination ul li.page:hover {
    background-color: #151515;
}

.pagination ul li.active {
    background-color: #151515;
}

.btn {
    background-color: #151515; /* Green */
    width: 2rem;
    height: 2rem;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}