.pagination ul {
    display: flex;
    background-color: #151515;
    /* padding: 0.6rem; */
    border-radius: 1.5rem;
    margin: 1rem;
}

.pagination ul li {
    list-style: none;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    font-weight: 500;
    cursor: pointer;
}

.pagination ul li.page {
    background-color: blue;
}

.pagination ul li.page:hover {
    background-color: white;
}

.pagination ul li button.btn {
    background-color: #151515;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.pagination ul li button.btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}